body {
    font-family: "Roboto", sans-serif;
    background-color: #4f4f4f;
    color: #fff;
    text-align: center;
}
.profile-image {
    width: 120px;
}
nav li {
    font-weight: 700;
    font-size: 20px;
    border: #fff solid 3px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1rem;
    display: inline;
    margin-right: 10px;
}
nav li:hover {
    border-color: cornflowerblue;
}
nav a {
    text-decoration: none;
    color: #429d76;
}
/*retire la puce de tous les ul*/
ul{
    list-style: none;
    margin-right: auto;
}
/*pour selectionner tous les li sans ceux de la nav*/
main li {
    line-height: 25px;
}

/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../font/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../font/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}